In [6]:
pip install "camelot-py[base]"

In [7]:
import re

import pandas as pd
import camelot
import os

In [14]:
tables = camelot.read_pdf('file (2).pdf', flavor='stream', row_tol=8, table_areas=['12,563,577,115'], split_text=True)
data=tables[0].df
df=pd.DataFrame(data)
df.columns=df.loc[0]
df.columns=[' '.join(x.split('\n')) for x in df.columns]
df=df.drop([0])
df=df.drop(columns=['FECHA VALOR','ORIG','REFERENCIA'])
last_saldo=(df.loc[df['CONCEPTO'].str.contains('Saldo'),'CONCEPTO']==True).index[-1]
df=df.drop(df.index[last_saldo:],axis=0)
df.append(pd.Series().astype('category'), ignore_index=True)

# df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  # Remove the CWD from sys.path while we load stuff.

   FECHA OPER                               CONCEPTO  ...      ABONO      SALDO
0              Saldo Final al 29 de Febrero del 2020  ...             45,133.00
1       02/03          TRANSF.INMED.CCE CTAS.PROPIAS  ...             41,733.00
2       11/03                         SL PAGO VARIOS  ...             41,415.00
3       11/03                         SL PAGO VARIOS  ...             41,278.00
4       11/03                         SL PAGO VARIOS  ...             41,259.00
5       11/03                         SL PAGO VARIOS  ...             41,123.00
6       12/03          TRANSF.INMED.CCE CTAS.PROPIAS  ...             31,123.00
7       23/03                       DEPOSITO CHQ TBK  ...  55,651.36  86,774.36
8       23/03                IMPUESTO A LOS CREDITOS  ...             86,771.61
9       24/03              PAGO PROTECCION TARJETA P  ...             86,661.97
10               Saldo Final al 31 de Marzo del 2020  ...  55,651.36  86,661.97
11        NaN                                    NaN  ...        NaN        NaN

[12 rows x 6 columns]

In [79]:
last_saldo=(df.loc[df['CONCEPTO'].str.contains('Saldo'),'CONCEPTO']==True).index[-1]

In [81]:

df.drop(df.index[last_saldo:],axis=0)


# df.drop(df.index[11:],axis=0)

   FECHA OPER                               CONCEPTO  ...      ABONO      SALDO
1              Saldo Final al 29 de Febrero del 2020  ...             45,133.00
2       02/03          TRANSF.INMED.CCE CTAS.PROPIAS  ...             41,733.00
3       11/03                         SL PAGO VARIOS  ...             41,415.00
4       11/03                         SL PAGO VARIOS  ...             41,278.00
5       11/03                         SL PAGO VARIOS  ...             41,259.00
6       11/03                         SL PAGO VARIOS  ...             41,123.00
7       12/03          TRANSF.INMED.CCE CTAS.PROPIAS  ...             31,123.00
8       23/03                       DEPOSITO CHQ TBK  ...  55,651.36  86,774.36
9       23/03                IMPUESTO A LOS CREDITOS  ...             86,771.61
10      24/03              PAGO PROTECCION TARJETA P  ...             86,661.97
11               Saldo Final al 31 de Marzo del 2020  ...  55,651.36  86,661.97

[11 rows x 6 columns]

In [16]:
def open_pdfs():
  return sorted([f for f in os.listdir() if f.endswith('pdf')])

open_pdfs()

['file (1).pdf', 'file (2).pdf', 'file (3).pdf', 'file.pdf']

In [24]:
def data(dfs):
  dfs_list=[]
  for i in dfs:
    tables = camelot.read_pdf(i, flavor='stream', row_tol=8, table_areas=['12,563,577,115'], split_text=True)
    data=tables[0].df
    df=pd.DataFrame(data)
    df.columns=df.loc[0]
    df.columns=[' '.join(x.split('\n')) for x in df.columns]
    df=df.drop([0])
    df=df.drop(columns=['FECHA VALOR','ORIG','REFERENCIA'])
    last_saldo=(df.loc[df['CONCEPTO'].str.contains('Saldo'),'CONCEPTO']==True).index[-1]
    df=df.drop(df.index[last_saldo:],axis=0)
    df.columns=['FECHA OPER', 'CONCEPTO', 'DESCRIPCION', 'CARGO', 'ABONO', 'SALDO']
    df=df.append(pd.Series(dtype='object').astype('category'), ignore_index=True)
    dfs_list.append(df)
  return pd.concat(dfs_list)

df=data(open_pdfs())
df=df.reset_index(drop=True)

In [25]:
df

   FECHA OPER                                 CONCEPTO  ...      ABONO      SALDO
0                  Saldo Final al 31 de Enero del 2020  ...             50,679.00
1       11/02            TRANSF.INMED.CCE CTAS.PROPIAS  ...             47,279.00
2       13/02            TRANSF.INMED.CCE CTAS.PROPIAS  ...             45,133.00
3                Saldo Final al 29 de Febrero del 2020  ...       0.00  45,133.00
4         NaN                                      NaN  ...        NaN        NaN
5                Saldo Final al 29 de Febrero del 2020  ...             45,133.00
6       02/03            TRANSF.INMED.CCE CTAS.PROPIAS  ...             41,733.00
7       11/03                           SL PAGO VARIOS  ...             41,415.00
8       11/03                           SL PAGO VARIOS  ...             41,278.00
9       11/03                           SL PAGO VARIOS  ...             41,259.00
10      11/03                           SL PAGO VARIOS  ...             41,123.00
11      12/03            TRANSF.INMED.CCE CTAS.PROPIAS  ...             31,123.00
12      23/03                         DEPOSITO CHQ TBK  ...  55,651.36  86,774.36
13      23/03                  IMPUESTO A LOS CREDITOS  ...             86,771.61
14      24/03                PAGO PROTECCION TARJETA P  ...             86,661.97
15                 Saldo Final al 31 de Marzo del 2020  ...  55,651.36  86,661.97
16        NaN                                      NaN  ...        NaN        NaN
17                 Saldo Final al 31 de Marzo del 2020  ...             86,661.97
18      11/04                    TRANSFERENCIA VIA CCE  ...             83,261.97
19      11/04                   IMPUESTO A LOS DEBITOS  ...             83,261.82
20      16/04                    TRANSFERENCIA VIA CCE  ...     525.00  83,786.82
21                 Saldo Final al 30 de Abril del 2020  ...     525.00  83,786.82
22        NaN                                      NaN  ...        NaN        NaN
23             Saldo Final al 31 de Diciembre del 2019  ...             55,948.89
24      17/01            TRANSF.INMED.CCE CTAS.PROPIAS  ...             52,548.89
25      17/01           Pago AFPnet - AFP INTEGRA  -BI  ...             52,355.00
26      29/01            TRANSF.INMED.CCE CTAS.PROPIAS  ...             50,679.00
27                 Saldo Final al 31 de Enero del 2020  ...       0.00  50,679.00
28        NaN                                      NaN  ...        NaN        NaN

[29 rows x 6 columns]

In [27]:
df.to_csv('main.csv', index=False)
df.to_excel('main.xlsx', index=False)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA OPER   25 non-null     object
 1   CONCEPTO     25 non-null     object
 2   DESCRIPCION  25 non-null     object
 3   CARGO        25 non-null     object
 4   ABONO        25 non-null     object
 5   SALDO        25 non-null     float64
dtypes: float64(1), object(5)
memory usage: 1.5+ KB

In [35]:
from numpy.core.numeric import NaN
# df['SALDO']=df['SALDO'].str.replace(',','').astype('float')
# df[['CARGO','ABONO']].str.replace(',','').replace('',NaN).astype('float')

AttributeError: ignored

In [ ]:
df.info()

In [158]:
df['SALDO'].sum()
df['SALDO'].sum()

1501128.09